.comment {
  padding-top: 6px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  height: auto;
  line-height: 18.2px;
}

.comment-body {
  position: relative;
  padding: 6px 6px 6px 31px;
  border: 2px solid transparent;
  border-radius: 2px;
  margin-top: 4px;

}

.comment a{
  color: rgb(153, 153, 153);
  display: inline;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
}

.comment-header{
  padding-bottom: 5px;
  vertical-align: middle;

}

.comment-header img{
  float: left;
  padding-bottom: 5px;
  vertical-align: middle;
  border-radius: 50%;
}

.comment-header span {
  display: table-cell;
  vertical-align: middle;
  height: 25px;
  padding-left: 8px;
  font-weight: bold;
}
