.homepage {
  display: block;
}

.main {
  margin-top: 53px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 32px 0px 32px ;
  background-color: white;
  width: 1002px;
  display: flex;
  justify-content: center;
}

.left-sidebar-container {
  float: left;
  width: 142px;
  margin-left: 30px;
}

.left-sidebar {
  position: fixed;
  top: 83px;
  min-height: 1px;
  font-size: 13px;
  height: 500px;
  width: 142px;
}

.main-content {
  width: 572px;
  min-height: 1px;
  position: relative;
  display: flex;
  flex-flow: column;
  margin-left: 30px;
  margin-right: 30px;
}

.main-content-header{
  height: 112px;
  color: rgb(51, 51, 51);
  display: inline;
  float: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  height:  auto;
  line-height: 21px;
  text-size-adjust:  100%;
  width: auto;
  word-wrap: break-word;
}


.right-sidebar-container {
  display: none;
  float: right;
  margin-right: 228px;
}

.homepage .right-sidebar {
  border: 1px solid #e2e2e2;
  height: 500px;
  position: fixed;
  top: 83px;
  width: 228px;
  min-height: 1px;
  font-size: 13px;
}


.left-sidebar-header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.left-sidebar-header h2{
  padding: 16px;
}

.left-sidebar-header a{
  font-size: 13px;
  font-weight: 400;
  color: #999;
  padding: 18px;
  cursor: pointer;
}

.right-sidebar-header {
  background-color: rgb(246, 248, 249);
  border-bottom: 1px solid rgb(226, 226, 226);
  padding: 16px;
}

.question_feed {
  display: flex;
  flex-flow: column;
}

.question {
  width: 100%;
  background-color: white;
  border-bottom-color: rgb(226, 226, 226);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-color: rgb(226, 226, 226);
  border-top-style: solid;
  border-top-width: 1px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  display: block;
  font-size: 15px;
  font-weight: normal;
  line-height: 21px;
  text-size-adjust: 100%;
  word-wrap: break-word;
  font-family: 'q_serif',Georgia,Times,"Times New Roman",serif;
  padding: 16px 12px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.question:hover {
  background-color: rgb(246, 248, 249);
}

.question-topic a{
  color: #999;
  font-size: 13px;
  font-weight: 400;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.main-content {
  font-family: 'q_serif',Georgia,Times,"Times New Roman",serif;
}

.question-title a {
  font-weight: bold;
  line-height: 1.3;
  font-size: 18px;
  color: #262626;
}

.best-answer {
  display: block;
}

.best-answer-footer {
  padding: 8px 0px 16px 0px;
  height: 27px;
}

.best-answer-header{
  margin-top: 10px;
  min-height: 40px;
  margin-bottom: 5px;
}

.best-answer-header img{
  float: left;
  padding-right: 8px;
  border-radius: 50%;
}

.best-answer-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.best-answer-footer a{
  color: rgb(153, 153, 153);
  display: inline;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
}

.best-answer-footer button{
  user-select: none;
  box-sizing: border-box;
  transition: opacity ease-in-out 100ms,color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
  font-weight: 500;
  outline: 0;
  padding: 3px 7px 4px 7px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: #f1f8fb;
  color: #2b6dad;
  border: 1px solid #bbcadc;
  float: left;
}

.right-sidebar-tasklist{
  list-style: disc;
}

.right-sidebar-tasklist li {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18.2px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
}

.topics-list{
}

.topics-list li{
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  bottom: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18.2px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
}

.topics-list a {
  max-width: 88%;
  word-wrap: break-word;
}

.topics-list li > .unfollow-button{
  margin-left: 10px;
  width: 5px;
  height: 5px;
  cursor: pointer;
}
