.homepage {
  display: block;
}

.header {
  height: 53px;
}

.main {
  padding: 30 32 30 0;
  background-color: red;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.left-sidebar-container {
  position: absolute;
  left: 0px;
}

.left-sidebar {
  position: fixed;
  top: 53px;
  background-color: blue;
  min-height: 1px;
  font-size: 13px;
  height: 500px;
  width: 172px;
}

.main-content {
  // height: 2000px;
  margin-left: 172px;
  margin-right: 258px;
  width: 572px;
  min-height: 1px;
  background-color: yellow;
  position: relative;
  display: flex;
  flex-flow: column;

}

.main-content-header{
  height: 112px;
}

.right-sidebar-container {
  position: absolute;
  right: 250px;
}

.right-sidebar {
  position: fixed;
  top: 53px;
  background-color: purple;
  width: 250px;
  height: 500px;
  min-height: 1px;
  font-size: 13px;
}

.question_feed {
  display: flex;
  flex-flow: column;
}

.question {
  width: 100%;
  background-color: rgb(246, 248, 249);
  border-bottom-color: rgb(226, 226, 226);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-color: rgb(226, 226, 226);
  border-top-style: solid;
  border-top-width: 1px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  height: 208px;
  line-height: 21px;
  text-size-adjust: 100%;
  word-wrap: break-word;
}
