////////////////////////////  Answer Form /////////////////////////////////

.answer-form-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.65098);
  height: 100%;
  width: 100%;
  z-index: 9000;
}


.answer-form {

  padding: 48px 86px;
  width: 602px;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0,0,0,0.7);
  display: block;
  z-index: 9001;
  opacity: 1;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}

.answer-form-header{
  border-bottom: 1px solid rgb(226, 226, 226);
  display: block;
  padding-bottom: 40px;
}

.answer-form-header h1{
  font-family: 'q_serif',Georgia,Times,"Times New Roman",serif;
  font-weight: bold;
  line-height: 1.3;
  font-size: 26px;
}

.answer-form-header h2{
  font-size: 15px;
  line-height: 1.4;
  font-weight: 400;
  color: #999;
}

.answer-form .author-info {
  font-family: 'q_serif',Georgia,Times,"Times New Roman",serif;
  font-size: 15px;
  display: block;
  padding: 32px 8px 10px 8px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.answer-form textarea {
  border: 0;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 43px;
  font-family: 'q_serif',Georgia,Times,"Times New Roman",serif;
  font-size: 15px;
  min-height: 33vh;
}

.answer-form input{
  align-items: flex-start;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(62, 120, 173);
  border: 1px solid rgb(58, 102, 173);
  border-radius: 3px;
  box-shadow: rgba(200, 200, 200, 0.6) 0px 1px 1px 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  float: left;
  font-size: 15px;
  font-weight: 500;
  height: 30px;
  line-height: 21px;
  opacity: 1;
  padding: 3px 7px 4px 7px;
  text-align: center;
  width: 70px;
}

.close-form {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: block;
  z-index: 9001;
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: white;
}

///////////////////         Question Page         /////////////////////

.question-page .right-sidebar{
  height: 500px;
  position: fixed;
  top: 83px;
  width: 314px;
  min-height: 1px;
  font-size: 13px;
}

.question-page .right-sidebar h2{
  border-bottom: 1px solid rgb(226, 226, 226);
  padding: 0px 0px 8px 0px;
}

.question-page .right-sidebar li{
  display: block;
  padding-bottom: 16px;
  padding-top: 8px;
  color: rgb(43, 109, 173);
}

.question-page .right-sidebar > a{
  color: rgb(153, 153, 153);
  padding-bottom: 32px;
  display: block;
}

.answers-list-header{
  color: #333;
  font-weight: 500;
  position: relative;
  padding-bottom: 8px;
  font-size: 18px;
  padding-bottom: 7px;
  border-bottom: 1px solid #e2e2e2;
}

.question-info-header{
  padding-bottom: 16px;
  border-bottom: 1px solid #e2e2e2;
}

.question-info-header h2{
  color: rgb(51, 51, 51);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
}

.question-info-header .question-toolbar {
  padding: 16px 0 0 0;
}
