.query_bar {
box-sizing:
border-box
;
color:
rgb(255, 255, 255)
;
display:
table
;
font-family:
"Helvetica Neue", Helvetica, Arial, sans-serif
;
font-size:
14px
;
font-weight:
normal
;
height:
105px
;
line-height:
19.6px
;
padding-left:
88px
;
text-size-adjust:
100%
;
width:
917px
;
word-wrap:
break-word
;
}

.ask_bar{
  display: table;
  box-sizing: border-box;
  width: 60%;
  padding: 10px 0 11px 14px;
}

.tool_bar{
  width: 30%;
}
