.main-content {
  font-family: 'q_serif',Georgia,Times,"Times New Roman",serif;
}

.question {
  font-family: 'q_serif',Georgia,Times,"Times New Roman",serif;
}

.question a {
  font-weight: bold;
  line-height: 1.3;
  font-size: 18px;
}
