.expanded-query-bar-container{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9000;
}

.grey-modal{
  background-color: rgba(0, 0, 0, 0.65098);
  z-index: 9000;
  height: 100%;
  width: 100%;
}

.expanded-query-bar {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 800;
  font-size: 14px;
  color: #fff;
  border-top: 2px solid #b92b27;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);
  display: flex;
  justify-content: center;
}

.expanded-ask-bar{
  box-sizing: border-box;
  width: 64%;
  padding: 10px 0 11px 14px;
  display: block;

}

.expanded-ask-bar textarea{
  overflow-x: hidden;
  overflow-y: hidden;
  word-wrap: break-word;
  max-height: none;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(200,200,200,0.3);
  display: block;
  padding: 3px 8px;
  margin: 0 0 8px 0;
  width: 90%;
  font-size: 15px;
}

.expanded-ask-bar > input{
  opacity: .5;
  box-sizing: border-box;
  transition: opacity ease-in-out 100ms,color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
  display: inline-block;
  font-weight: 500;
  outline: 0;
  padding: 3px 7px 4px 7px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: #3e78ad;
  color: #fff;
  border: 1px solid #3a66ad;
  box-shadow: 0 1px 1px 0 rgba(200,200,200,0.6);
  width: 101px;
  height: 18px;
}

.description-field{
  padding: 4px 8px 20px;
  margin-top: 8px;
  word-break: break-word;
  border-radius: 2px;
  color: #333;
  overflow-y: scroll;
}

.expanded-tool-bar{
  display: flex;
  padding: 11px 0 11px 12px;
  font-size: 13px;
  height: 27px;
}

.expanded-tool-bar > input {
  opacity: .5;
  box-sizing: border-box;
  transition: opacity ease-in-out 100ms,color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
  display: inline-block;
  font-weight: 500;
  outline: 0;
  padding: 3px 7px 4px 7px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: #3e78ad;
  color: #fff;
  border: 1px solid #3a66ad;
  box-shadow: 0 1px 1px 0 rgba(200,200,200,0.6);
  width: 101px;
}

.expanded-tool-bar > button {
  width: 27px;
}

.titleField{
  position: relative;
  width: 100%;
  min-width: 200px;
  z-index: 600;
  box-shadow: 0 2px 5px 0 rgba(200,200,200,0.6);
  line-height: 18.2px;
}

.titlefield > input {
}

.descriptionField{
}

.descriptionField > input {
}

.query-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50px;
  border-bottom: 1px solid #3a66ad;
  border-top: 2px solid #b92b27;
  z-index: 1000;
  background-color: white;
}

.query-bar-logo {
  right: -38px;
  font-size: 23px;
  color: red;
  font-family: 'q_serif',Georgia,Times,"Times New Roman",serif;
  display: block;
  padding: 6px;
}

.ask-bar {
  box-sizing: border-box;
  width: 64%;
  padding: 10px 0 11px 14px;
  display: flex;
}

.ask-bar > textarea {
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  box-shadow: rgba(200, 200, 200, 0.298039) 0px 1px 1px 0px inset;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  cursor: auto;
  display: block;
  font-size: 15px;
  height: 29px;
  letter-spacing: normal;
  line-height: 21px;
  max-height: none;
  min-height: 0px;
  outline-color: rgb(51, 51, 51);
  outline-offset: 0px;
  outline-style: none;
  outline-width: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 3px 8px;
  position: relative;
  resize: none;
  text-align: start;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  transition-delay: 0s, 0s, 0s;
  transition-duration: 0s, 0s, 0.2s;
  transition-property: border-color, height, background-color;
  transition-timing-function: ease, ease, ease;
  user-select: text;
  white-space: pre-wrap;
  width: 627px;
  word-spacing: 0px;
  word-wrap: break-word;
  z-index: 1;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-rtl-ordering: logical;
  -webkit-border-image: none;
}

  .ask-bar > input {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: opacity ease-in-out 100ms,color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
    display: inline-block;
    font-weight: 500;
    outline: 0;
    padding: 3px 7px 4px 7px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    color: #585a61;
    border: 1px solid #ced1e1;
    float: right;
    font-size: 13px;
    line-height: normal;
    padding: 5px 8px 6px 10px;
    margin: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 100px;
}

.nav-bar {
  width: 200px;
  height: 50px;
}

.nav-bar button{
  font-size: 14px;
  font-weight: 500;
  color: #999;
  line-height: 50px;
}

.logout-button {
  float: right;
  width: 90px;
  height: 50px;
  border: 0;
  background-color: white;
}

.logout-button:hover {
  background-color: rgb(246, 248, 249);
}
