.topic-search-bar {
  letter-spacing: 0;
  text-transform: none;
  z-index: 9001;
  overflow: hidden;
  opacity: 1;
  border-radius: 3px;
  background: #f6f6f6;
  border: 1px solid #ccc;
  padding: 0;
  display: block;
}

.topic-search-bar textarea {
  padding: 8px 0px;
  width: 130px;
  margin: 2px;
}

.topic-search-bar ul {
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(51, 51, 51);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(51, 51, 51);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(51, 51, 51);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(226, 226, 226);
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: none;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: block;
  float: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  height: auto;
  letter-spacing: normal;
  line-height: 18.2px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  max-height: 450px;
  overflow-y: auto;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-size-adjust: 100%;
  text-transform: none;
  width: 100%;
  word-wrap: break-word;
  -webkit-margin-after: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-end: 0px;
  -webkit-margin-start: 0px;
  -webkit-padding-start: 0px;
}

.topic-search-bar li {
  padding: 8px 8px 12px 8px;
  border-bottom: 1px solid #e2e2e2;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}
